html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://images.pexels.com/photos/3063470/pexels-photo-3063470.jpeg?cs=srgb&dl=pexels-tom-fisk-3063470.jpg&fm=jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
  background-color: #d62828;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #d62828;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #d62828;
  }
}
